@model  ASN.Models.CatProDeproSi_Result


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>GAPP</title>
    <style type="text/css">
        .datagrid table {
            border-collapse: collapse;
            text-align: left;
            width: 100%;
        }

        .datagrid {
            font: normal 12px/150% Arial, Helvetica, sans-serif;
            background: #fff;
            overflow: hidden;
            border: 1px solid #006699;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

            .datagrid table td, .datagrid table th {
                padding: 3px 10px;
            }

            .datagrid table thead th {
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
                background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
                background-color: #006699;
                color: #FFFFFF;
                font-size: 15px;
                font-weight: bold;
                border-left: 2px solid #0070A8;
            }

                .datagrid table thead th:first-child {
                    border: none;
                }

            .datagrid table tbody td {
                color: #00496B;
                border-left: 2px solid #E1EEF4;
                font-size: 12px;
                font-weight: normal;
            }

            .datagrid table tbody .alt td {
                background: #E1EEF4;
                color: #00496B;
            }

            .datagrid table tbody td:first-child {
                border-left: none;
            }

            .datagrid table tbody tr:last-child td {
                border-bottom: none;
                text-align: center;
            }
    </style>
</head>
<body bgcolor="#3f3f3f" text="#919191" alink="#cccccc" vlink="#cccccc" style="margin: 0;padding: 0;background-color: #ffffff;color: #919191;">
    <center>            
        <table width="770" border="0" cellpadding="0" cellspacing="18" class="vb-container fullpad" bgcolor="#ffffff" style="border-collapse: separate;border-spacing: 18px;padding-left: 0;padding-right: 0;width: 100%;max-width: 770px;">
            <tbody>
                <tr>
                    <td width="100%" valign="top" align="center" class="links-color">
                        <img border="0" hspace="0" vspace="0" class="mobile-full" alt="" style="border: 0px;display: block;vertical-align: top;max-width: 534px;width: 100%;height: auto;" src="cid:imagens" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="datagrid">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Affected account - CCMSID</th>
                                        <th>Location</th>
                                        <th>Client</th>
                                        <th>Action</th>
                                        <th>Affected by</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.FechaMov</td>
                                        <td>@Model.Accid - @Model.AfectadoCCMSID</td>
                                        <td>@Model.AfectadoLoc</td>
                                        <td>@Model.AfectadoCliente</td>
                                        <td>@Model.Action - @Model.SubAction</td>
                                        <td>@Model.AfectadorName - @Model.AfectadorCCMSID</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>
