
@model ASN.Models.TraClericalImages


@using ASN.Models;
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/kendo/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/kendo")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/moment")

@*<br />
<br />
<br />
<p><b>@Html.Label("Images uploaded by") : </b>@Html.ValueFor(a => a.CreatedByUserName)</p>
<br />
<p><b>@Html.Label("CatProdepro Id") : </b>@Html.ValueFor(a => a.CatProDeproId)</p>
<br />
<br />
<br />*@


<!-- hrcv -->
@*<div id="windowUploadFotoPreview">

    <img height="450" width="750" id="imagePreview"/>

    <div class="box wide hidden-on-narrow" style="z-index:10000">
        <div class="box-col">
            <br />
            <ul class="options">
                <li>
                    <button id="closePreviewImageWindow" class="k-button">Close</button>
                </li>
            </ul>
        </div>
    </div>
</div>*@

<style>
    tr.spaceUnder > td {
        padding-bottom: 1em;
    }

    .k-upload{
        left: 1em;
    }
</style>
<div>
    <div class="k-edit-form-container">
        <div>
            @(Html.Kendo().Upload()
                .Name("files")
                .Async(a => a
                    .Save("Save", "ProDepro", new { catId = Model.CatProDeproId, actId = Model.ActionId })
                    .AutoUpload(true)
                )
                .Messages(m => m.Select("Upload a File..."))
                .Validation(v => v
                    .AllowedExtensions(new string[] { "png", "jpg", "PNG", "JPG", "JPEG", "jpeg" })
                    .MaxFileSize(20 * 1024 * 1024)
                )
                .ShowFileList(false)
                .Events(e => e
                        /**/
                        //.Upload("onUpload")
                        /**/
                        .Success("onSuccess")
                        .Error("onError")
                        .Select("onSelect")

                    )
            )
        </div>
    </div>
</div>
@*@Scripts.Render("~/bundles/UploadFotoPopUp")*@


@*<div id="kendoUploadZone">
    <div id="kendoUploadForm">
        <div id="kendoUploadControl">
            
        </div>
        <div id="kendoUploadDisplay">
        </div>
    </div>
</div>*@


@*@(Html.Kendo().Grid<GAPP.Models.TraClericalImages>()
    .Name("gridImagesUploaded")
    .Columns(columns =>
    {
        columns.Bound(p => p.FileName).Title("Name").Filterable(true).Width(100).HeaderTemplate("Name");
        columns.Bound(p => p.Description).Title("Description").Filterable(true).Width(100).HeaderTemplate("Description");
        columns.Bound(p => p.ImageUrl).Title("Url").Filterable(true).Width(100).HeaderTemplate("Url").ClientTemplate("<div style='max-width: 120px ;width: 120px ;color: 787878;'/> #=ImageUrl# </div>");  // ("<a href='#=ImageUrl#'>'#=ImageUrl#'</a>");
        columns.Bound(p => p.Path).Title("Path").Filterable(true).Width(100).HeaderTemplate("Path").ClientTemplate("<div style='max-width: 120px ;width: 120px ;color: 787878;'/> #=Path# </div>");
        columns.Bound(p => p.CreatedDate).Title("Date Created").Filterable(true).Width(100).HeaderTemplate("Date Created");
        columns.Bound(c => c.ImageUrl).Title("Image").HeaderTemplate("Image").ClientTemplate("<a onClick='ViewImageFile(\"#=ImageUrl#\")'><img src='" + "#=ImageUrl#" + "'" + " height='62' width='62'/></a>");
    })
    .Sortable()
    .Pageable(a => a.PageSizes(true))
    .Filterable()
    .NoRecords("")
    .DataSource(
        dataSource => dataSource
            .Ajax()
        .Model(model =>
        {
            model.Id(p => p.ImageId);
            model.Field(c => c.FileName).Editable(false);
            model.Field(c => c.Description).Editable(false);
            model.Field(c => c.ImageUrl).Editable(false);
            model.Field(c => c.ImageUrlGrid).Editable(false);
            model.Field(c => c.Path).Editable(false);
            model.Field(c => c.CreatedDate).Editable(false);
            model.Field(p => p.ImagePlaceHolder).Editable(false);
        })
        .Read(read => read.Action("getImagesUploadedByCatProDeproId", "ProDepro", new { catprodeproid = @Html.ValueFor(a => a.CatProDeproId) }))
        .PageSize(10)
    )
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5)
        .Numeric(true)
        .PreviousNext(true)
    )
)*@


<script>
    @*function onUpload(e) {
        var file = e.files[0];
        var fileName = file.name;
        var ext = file.extension;
        var name = fileName.slice(0, -4);
        $.newUploadedFileName = name + "_" + uuidv4() + ext;
        e.data = {
            newFileName: $.newUploadedFileName,
            catId = @Html.ValueFor(a => a.CatProDeproId),
            actId = @Html.ValueFor(a => a.ActionId)
        };

        //alert("newUploadedFileName: " + $.newUploadedFileName);
    }*@

    function onSuccess(e) {
        //var file = e.files[0];
        //var fileName = file.name;
        //alert("image file name: " + fileName);
        @*//saveUploadFotoInDB($.newUploadedFileName, @Html.ValueFor(a => a.CatProDeproId), @Html.ValueFor(a => a.ActionId));*@
        //var grid = $("#gridImagesUploaded").data("kendoGrid");
        //grid.dataSource.read();

        //alert("File uploaded.");
        var popupNotification = parent.$("#centeredNotification").data("kendoNotification");
        popupNotification.show("File uploaded", "success");
        parent.$("#windowUploadFoto").data("kendoWindow").close();
        parent.$('#grid').data('kendoGrid').dataSource.data([]);
        parent.$('#grid').data('kendoGrid').dataSource.read();
        parent.$('#grid').data('kendoGrid').refresh();
    }

    function onError(e) {
        //var file = e.files[0];
        //var fileName = file.name;
        //alert("prodepro::subirfotopopup::kendo::upload::error");
        var popupNotification = parent.$("#centeredNotification").data("kendoNotification");
        popupNotification.show("Failed to Upload File", "error");
        //popupNotification.show("prodepro::subirfotopopup::kendo::upload::error", "error");

        /***
        var err = e.XMLHttpRequest.responseText;

        //var popupNotification = $("#centeredNotification").data("kendoNotification");
        popupNotification.show(kendo.toString(err), "error");

        var files = e.files;
        if (e.operation == "upload") {
        //alert("Failed to upload " + files.length + " files");
        popupNotification.show("Failed to upload " + kendo.toString(files.length) + " files", "error");
        }
        ***/
    }

    function onSelect(e) {

        var popupNotification = parent.$("#centeredNotification").data("kendoNotification");
        var file = e.files[0];
        var ext = file.extension;
        var size = file.size;
        var maxSize = 20 * 1024 * 1024;
        var extUpper = ext.toUpperCase();

        switch (extUpper) {
            case ".JPG":
                break;
            case ".PNG":
                break;
            case ".JPEG":
                break;
            default: {
                //alert('Allowed image extensions are: jpg, png');
                popupNotification.show("Allowed image extensions are: jpg, png, jpeg, JPG, PNG, JPEG", "warning");
                parent.$("#windowUploadFoto").data("kendoWindow").close();
            }
        }

        if (size > maxSize) {
            //alert('File size ' + size + ' exceds max size ' + maxSize);
            popupNotification.show("File size " + kendo.toString(size) + " exceds max size of " + kendo.toString(maxSize), "warning");
            parent.$("#windowUploadFoto").data("kendoWindow").close();
        }

        //var xfilename = file.name;
        //$.RenamedFileName = file.name;
        //var tempFileName = $.RenamedFileName
        //alert(tempFileName);
    }

    //$(document).ready(function () {

    //    //$("#windowUploadFotoPreview").kendoWindow({
    //    //    actions: ["Custom", "Pin", "Refresh", "Maximize", "Minimize", "Close"],
    //    //    title: "Image Preview",
    //    //    modal: true,
    //    //    resizable: true,
    //    //    visible: false,
    //    //    width: "55%"

    //    //    //close: function (e) {
    //    //    //    this.data("kendoWindow").close();
    //    //    //myWindow.data("kendoWindow").close();
    //    //    //}
    //    //});

    //});


    /***/
    function onShow(e) {
        if (e.sender.getNotifications().length == 1) {
            var element = e.element.parent(),
                eWidth = element.width(),
                eHeight = element.height(),
                wWidth = $(window).width(),
                wHeight = $(window).height(),
                newTop, newLeft;

            newLeft = Math.floor(wWidth / 2 - eWidth / 2);
            newTop = Math.floor(wHeight / 2 - eHeight / 2);

            e.element.parent().css({ top: newTop, left: newLeft });
        }
    }
    /***/

    /*
    // grid databound
    function onDataBound(evt) {
        //Repaint the virtual scroll bar to make sure all rows are visible to user
        var grid = evt.sender.wrapper.data("kendoGrid");
        grid._rowHeight = undefined;
        grid.virtualScrollable.refresh();
        grid.data("kendoGrid").resize(true);
    }
    */


    //var grid = $("#gridImagesUploaded").data("kendoGrid");

    //grid.bind("dataBound",
    //    function onDataBound(evt) {
    //        //Repaint the virtual scroll bar to make sure all rows are visible to user
    //        var grid = evt.sender.wrapper.data("kendoGrid");
    //        //grid._rowHeight = undefined;
    //        //grid.virtualScrollable.refresh();
    //        //grid.data("kendoGrid").resize(true);
    //        // $("#gridImagesUploaded")
    //        //$("#gridImagesUploaded").data('kendoGrid').dataSource.read();
    //        //$("#gridImagesUploaded").data('kendoGrid').refresh();
    //        // $('#GridName').data('kendoGrid').dataSource.read();
    //    }
    //);


</script>


<script>

    //$("#closeUploadImage").click(function (e) {
    //    //General.FlashMessage("Error", "red darken-3");
    //    //$("#windowUploadFoto").hide();
    //    //var windowUser = $("#windowUploadFoto").data("kendoWindow");
    //    $("#windowUploadFoto").data("kendoWindow").close();
    //});

    //$("#closePreviewImageWindow").click(function (e) {
    //    //General.FlashMessage("Error", "red darken-3");
    //    //$("#windowUploadFoto").hide();
    //    //var windowUser = $("#windowUploadFoto").data("kendoWindow");
    //    $("#windowUploadFotoPreview").data("kendoWindow").close();
    //});

    // getImagesUploadedByEmployeeId parameters
    //function getParamsGAIU() {

    //    /*
    //        var grid = $('#Grid').data('kendoGrid');
    //        var selectedRow = grid.dataItem('tr.k-grid-edit-row');
    //        selectedRow.FieldName
    //    */

    //    /**/

    //    //var grid = $("#gridImagesUploaded").data("kendoGrid");
    //    //var selectedItem = grid.dataItem(grid.select());
    //    //var data = selectedItem ? selectedItem.toJSON() : {};
    //    //alert(selectedItem.EmployeeId);

    //    return {
    //        ////ccmsid: selectedItem.EmployeeId
    //        ccmsid: "666340"
    //    };
    //    /**/
    //}

    /*
    function ViewImageFile(ImageId) {
        alert(ImageId);
    }
    */

    //function GetImage(image) {
    //    var returnString = '<img src="~/image1.png" title=\"image\" height=\"24\" alt=\"image\"/>';
    //    return returnString;
    //}

    // hrcv
    //function ViewImageFile(ImageUrl) {

    //    var elem = document.getElementById("imagePreview");
    //    elem.setAttribute("src", ImageUrl);

    //    //var windowUser = $("#windowUploadFotoPreview").data("kendoWindow");

    //    //windowUser.center().open();
    //    //windowUser.wrapper.css({
    //    //    width: 800,
    //    //    height: 500
    //    //});

    //}

    //function uuidv4() {
    //    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
    //        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
    //        return v.toString(16);
    //    });
    //}

/**
    // Event : Edit Record (coté client): Appel Controller "CheckLock"
    function onRequestEdit(arg) {

        alert("onRequestEdit");

        //var model = arg.model;

        //alert("onRequestEdit");
        //kendoConsole.log("onRequestEdit : Edit : " + model.CTCO_ID + ":" + model.CTCO_PRENOM);
        //grid = $("#gridImagesUploaded").data("kendoGrid");

        //if ((a => a.CatProDeproId) == 6) {
        //    grid.closecell();
        //}

    }
/**/

</script>
@*@Scripts.Render("~/bundles/UploadFotoPopUp")*@