@model  ASN.Models.EmpleadosSolicitudesViewModel

<style>
    tr.spaceUnder > td {
        padding-bottom: 1em;
    }
</style>
<div class="col-lg-12 col-md-12">
    <div class="k-edit-form-container" style="width:500px;">
        <div class="editor-label">
            <label for="MotivoId">Concepto de motivo</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().MultiSelect()
                .Name("LstConceptoMotivo")
                .DataValueField("Ident")
                .DataTextField("Valor")
                .Placeholder("- Concepto de motivo -")
                .Filter("contains")
                .AutoBind(true)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetConceptosMotivosCMB", "ConceptosMotivos");
                    });
                })
                
                .HtmlAttributes(new { required = "required", style = "text-align:center;width: 22.4em" })
            )
            @(Html.Kendo().CheckBox().Name("TTConceptoMotivoId").Label("(Todos)")) 
        </div>
        <div class="editor-label">
            <label for="ResponsableIncidenteId">Responsable de incidente</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().TextBox().Name("Manager_Ident").HtmlAttributes(new { style = "text-align:center;width: 15.4em" }))
            @(Html.Kendo().CheckBox().Name("TTManager_Ident").Label("(Todos)"))
        </div>
        <div class="editor-label">
            <label for="Monto">Parámetro: Monto</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().NumericTextBoxFor(x => x.ParametroConceptoMonto).Name("ParametroConceptoMonto").Min(0).Value(0).HtmlAttributes(new { required = "required", style = "text-align:center;width: 15.4em" }))
            @(Html.Kendo().CheckBox().Name("TTMonto").Label("(Todos)"))
        </div>
        <div class="editor-label">
            <label for="DetalleId">Detalle</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().TextBox().Name("Detalle").HtmlAttributes(new { style = "text-align:center;width: 15.4em" }))
            @(Html.Kendo().CheckBox().Name("TTDetalleId").Label("(Todos)"))
        </div>
        <div class="editor-label">
            <label for="PeriodoNomina">Periodo original</label>
        </div>
        <div class="editor-field">
            @(Html.Kendo().DropDownList()
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetPeriodoNominaCMB", "EmpleadosSolicitudes");
                });
            })
            .Filter("contains")
            .OptionLabel("- Periodo original - ")
            .DataValueField("Ident")
            .DataTextField("Valor")
            .Name("PeriodoNomina")
            .HtmlAttributes(new { required = "required", style = "text-align:center;width: 15.4em" })
        )
            @(Html.Kendo().CheckBox().Name("TTPeriodoNomina").Label("(Todos)"))
        </div>
        <input type="hidden" id="PeriodicidadId" value=""/>
</div>
</div>