<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
        width: 50%;
    }
</style>

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12">
            <div class="col-lg-4">
                @Html.Label("Período de nómina: ", new { style = "font-size: 15px" })
                @(Html.Kendo().DropDownList()
                        .DataSource(source => source
                            .Custom()
                            .Transport( tr => tr
                                .Read(read =>
                                    {
                                        read.Action("GetPeriodoNominaCMB", "DescargaArchivos").Data("parametroPeriodosNominaActualPasados");
                                    }
                                )
                            )
                        )
                        .Filter("contains")
                        .OptionLabel("- Seleccione Periodo de Nomina - ")
                        .DataValueField("Ident")
                        .DataTextField("Valor")
                        .Name("PeriodoNomina_Id")
                        .SelectedIndex(1)
                        .Enable(true)
                        .Events(e => e.Change("onDropDownChange"))
                        .HtmlAttributes(new { required = "required", style = "text-align:center;width: 14em", validationMessage = "Este campo es requerido." })
                    )
            </div>
            <div class="col-lg-6">
                @Html.Label("Descarga Archivo", new { style = "font-size: 15px" })
                <input type="button" title="Descargar" name="btnDescargar" value="Descargar" onclick='onClickDescargarArchivo()' />
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @*@Html.HiddenFor(x => x.Ident).Name(PeriodoNomina_Id_selected)
                @Html.HiddenFor(x => x.Value).Name(PeriodoNomina_selected)*@
            </div>
        </div>
    </div>
}
else
{
    <p>You are not logged in</p>

    Response.Redirect(Url.Action("Login", "Home"));
}

<script>
    var PeriodoNomina_Id_selected = 0;
    var PeriodoNomina_selected = '';
</script>

@Scripts.Render("~/bundles/DescargaArchivos")