@model List<ASN.Models.TraCommentSel_Result>
@{
    var contador = 0;
}
<style>
    textarea {
        resize: none;
    }
</style>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
@Scripts.Render("~/bundles/jquery")
<link href="~/Content/ComentariosMotivoRechazo.css" rel="stylesheet" />

@{

    if (Model.Count() <= 1)
    {
        foreach (var obj in Model)
        {
            if (obj.TraCommentId == -1)
            {
                <div><label>Sin comentarios</label></div>
                @Html.Hidden("IlusionDefinida", Model.Take(1).FirstOrDefault().FolioId)
                @Html.Hidden("IlusionDefinidaEID", Model.Take(1).FirstOrDefault().EmployeeId)
                @Html.Hidden("IlusionDefinidaConcept", Model.Take(1).FirstOrDefault().ConceptoId)
            }
        }
    }
    else
    {
        foreach (var obj in Model)
        {
            if (obj.FolioId != 0 && contador == 0)
            {
                @Html.Hidden("IlusionDefinida", obj.FolioId)
                @Html.Hidden("IlusionDefinidaEID", obj.EmployeeId == 0 ? Model.Where(x => x.EmployeeId != 0).FirstOrDefault().EmployeeId : obj.EmployeeId)
                @Html.Hidden("IlusionDefinidaConcept", obj.ConceptoId == 0 ? Model.Where(x => x.ConceptoId != 0).FirstOrDefault().ConceptoId : obj.ConceptoId)
                contador++;
            }
        }
    }
}

@foreach (var item in Model)
{
    <p>CCMSId Empleado: @item.EmployeeId </p>
    <div class="row">
        @*<input type="textarea"  value="" id="comentario" />*@
        <p>Motivo del Rechazo: </p>
        <textarea rows="4" cols="60" id="comentarioMotivoR"></textarea>
        <div class="error" id="labelWarning"></div>
    </div>
}
<br />
<div class="row">
    <input id="daleMotivo" type="button" class="btn" value="Motivo" />
</div>
<script>
    urlComGrabMotivo = '@Url.Action("CreateCommentMotivo", "Comentarios")';
    if (/Mobi/.test(navigator.userAgent)) {
        //$("#comentario").attr("cols", 30);
        $("#comentarioMotivoR").css("width", $(window).width() - 15);
    }
    //setTimeout(function () { console.log("sss"); }, 3000);
</script>
@*<script src="~/Scripts/Comentarios.js"></script>*@
@Scripts.Render("~/bundles/Comentarios")
